<div class="container mt-5" *ngIf="taskId">
  <h3 class="text-center">Task Info</h3>
  <input
    type="text"
    class="form-control mb-3"
    placeholder="add task title"
    [(ngModel)]="task.title"
    required
  />
  <textarea
    class="form-control mb-3"
    placeholder="enter task description"
    required
    [(ngModel)]="task.description"
  ></textarea>
  <input
    type="text"
    class="form-control mb-3"
    placeholder="add task time"
    [(ngModel)]="task.date"
    required
  />
  <input
    type="checkbox"
    id="isCompleted"
    [(ngModel)]="task.isCompleted"
    class="mx-3"
    required
  />
  <label for="isCompleted" class="mx-3">Completed</label>
  <div class="text-center">
    <a class="btn btn-success mx-3 col-2" (click)="updateTask()" routerLink="/"
      >Update</a
    >
    <a class="btn btn-danger mx-5 col-2" routerLink="/">Cancel</a>
  </div>
</div>
