<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h3 class="text-center mt-3">Submit Deliverable</h3>
        <div class="card col-md-6 offset-md-3 mt-3">
            <div class="form-group mt-3">
                <label class="fw-bold" for="submissionLink">Submisson Link</label>
                <input type="text" class="form-control" id="submissionLink" placeholder="Enter submission link"
                    name="submissionLink" required #submissionLink>
            </div>
            <div class="form-group">
                <label class="fw-bold" for="submissionTitle">Submission Title</label>
                <input type="text" class="form-control" id="submissionTitle" placeholder="Enter submission title"
                    name="submissionTitle" required #submissionTitle>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success my-5 w-25"
                    (click)="submitDeliverable(submissionLink.value, submissionTitle.value)">Submit</button>
            </div>
        </div>
    </div>
</div>